{% extends "scoreai/base.html" %}
{% load static %}

{% block title %}
Forbidden
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Forbidden</h5>
            </div>
            <div class="card-body">
                <p>このページにアクセスする権限はありません。(403)</p>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'index' %}" class="btn btn-secondary">Dashboardへ</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}