{% load static %}
<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="text-nowrap logo-img">
        <img src="{% static 'scoreai/img/LogoSCore_Ai.png' %}" width="180" alt="SCore_Ai" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'index' %}" aria-expanded="false">
            <span class="hide-menu">ダッシュボード</span>
          </a>
        </li>
        
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">AI相談</span>
        </li>
        
        <li class="sidebar-item ai-consultation-center">
          <a class="sidebar-link" href="{% url 'ai_consultation_center' %}" aria-expanded="false">
            <span class="hide-menu">AI相談センター</span>
            <span class="badge bg-danger rounded-pill ms-auto" style="font-size: 10px;">NEW</span>
          </a>
        </li>
        
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Management</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseBorrowingManagement" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">借入管理</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseBorrowingManagement" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'debts_all' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">借入一覧</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'debts_byBank' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">金融機関別</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'debts_bySecuredType' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">保証別</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'debts_archived' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">アーカイブ済み</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'debt_create' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">新規借入</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseMonthlyPL" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">月次PL</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseMonthlyPL" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'fiscal_summary_month_list' %}?years=3" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">3期比較の月次推移</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a href="{% url 'fiscal_summary_month_list' %}?years=1" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">直近年度の月次推移</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseAnnualFinancials" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">年次財務諸表</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseAnnualFinancials" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'fiscal_summary_year_list' %}?is_draft=false" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">決算年次推移</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'latest_fiscal_summary_year_detail' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">直近決算詳細</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseShareholderInformation" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">株主情報</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseShareholderInformation" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'stakeholder_name_list' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">株主名一覧</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'stock_event_list' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">株式発行一覧</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseLocalBenchmark" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">ローカルベンチマーク</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseLocalBenchmark" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'industry_benchmark_list' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">業界別ベンチマーク一覧</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseMeetingMinutes" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu">ノート</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseMeetingMinutes" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'meeting_minutes_list' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">ノート一覧</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'meeting_minutes_create' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">新規ノート</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">データ取り込み</span>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="#collapseCSVImport" data-bs-toggle="collapse" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-file-upload me-2"></i>CSV取り込み</span><i class="fa-solid fa-angles-right ms-auto"></i>
          </a>
          <ul id="collapseCSVImport" class="collapse first-level" data-bs-parent="#sidebarnav">
            <li class="sidebar-item">
              <a href="{% url 'import_fiscal_summary_month' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">月次PL</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="{% url 'import_fiscal_summary_year' %}" class="sidebar-link">
                <div class="round-16 d-flex align-items-center justify-content-center">
                  &emsp;<i class="fa-solid fa-arrow-right"></i>
                </div>
                <span class="hide-menu">年次決算</span>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'import_fiscal_summary_ocr' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-scan me-2"></i>OCR読み込み</span>
          </a>
        </li>
        
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">設定</span>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'user_profile' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-user me-2"></i>プロフィール</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'user_ai_script_list' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-script me-2"></i>マイスクリプト</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'storage_setting' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-cloud me-2"></i>クラウドストレージ</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'storage_file_list' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-files me-2"></i>ストレージファイル</span>
          </a>
        </li>
        
        {% if user.is_superuser %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'admin_ai_script_list' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-settings me-2"></i>AIスクリプト管理</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'admin:index' %}" aria-expanded="false" target="_blank">
            <span class="hide-menu"><i class="ti ti-shield me-2"></i>管理画面</span>
          </a>
        </li>
        {% endif %}

        <!-- コンサルタントの場合のみ表示 -->
        {% if user.is_financial_consultant %}
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Consultant Menu</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'firm_clientslist' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-users me-2"></i>クライアント一覧</span>
          </a>
        </li>
        {% endif %}
        
        <!-- Firmオーナーの場合のみ表示 -->
        {% load custom_tags %}
        {% get_user_firm_owner user as user_firm_owner %}
        {% if user_firm_owner %}
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">プラン管理</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'plan_list' firm_id=user_firm_owner.firm.id %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-credit-card me-2"></i>プラン・サブスクリプション</span>
          </a>
        </li>
        {% endif %}
        
        <li class="nav-small-cap mt-4">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">その他</span>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'about_links' %}" aria-expanded="false">
            <span class="hide-menu"><i class="ti ti-info-circle me-2"></i>SCore_AIについて</span>
          </a>
        </li>
    </nav>
  </div>
</aside>

