{% load humanize %}
{% load custom_filters %}

<div class="row align-items-stretch">
    <div class="col-lg-4">
        {% include 'scoreai/part_debt_summary.html' %}
    </div>
    <div class="col-lg-4">
        {% include 'scoreai/part_debt_byBank.html' %}
    </div>
    <div class="col-lg-4 d-flex">
        {% include 'scoreai/part_debt_bySecuredType.html' %}
    </div>
</div>
<div class="row align-items-stretch">
    <div class="col-lg-4">
        {% include 'scoreai/part_debt_bySecuredByManagement.html' %}
        {% include 'scoreai/part_debt_byCollateraled.html' %}
    </div>
    <div class="col-lg-8 d-flex align-items-strech">
        {% include 'scoreai/part_debt_byBankAndSecuredType.html' %}
    </div>
</div>