{% load humanize %}
{% load custom_filters %}

<div class="row align-items-stretch g-3">
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'scoreai/part_debt_summary.html' %}
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'scoreai/part_debt_byBank.html' %}
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        {% include 'scoreai/part_debt_bySecuredType.html' %}
    </div>
</div>
<div class="row align-items-stretch g-3 mt-0">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="row g-3">
            <div class="col-12">
                {% include 'scoreai/part_debt_bySecuredByManagement.html' %}
            </div>
            <div class="col-12">
                {% include 'scoreai/part_debt_byCollateraled.html' %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        {% include 'scoreai/part_debt_byBankAndSecuredType.html' %}
    </div>
</div>
