{% extends "scoreai/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}




<div class="row">
  <div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">契約中クライアント</h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">会社名</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">会計年度</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">開始日付</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">有効User数</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for client in clients %}

              <tr>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{ client.company.name }}</h6>
                    <p class="mb-0 fw-normal">{{ client.company.id }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ client.company.fiscal_month}}月</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ client.start_date }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ client.company.user_count }}</p>
                </td>
              </tr> 
              {% endfor %}
                 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





<h1>{{ title }}</h1>
<ul>
  {% for client in clients %}
    <li>{{ client.company.name }} (開始日: {{ client.start_date }})</li>
  {% empty %}
    <li>クライアントがありません。</li>
  {% endfor %}
</ul>




{% endblock %}

