{% extends "scoreai/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
{{ block.super }}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">フォーマットのダウンロード</h5>
        </div>
        <div class="card-body">
          <h6>空のサンプルフォーマットをダウンロード</h6>
          <a href="{% url 'download_fiscal_summary_month_csv_param' 'sample' %}" class="btn btn-primary">ダウンロード</a>
          <p class="mt-3">
            １列目に項目名が入力されたフォーマットがダウンロードされます。<br>
            アップロードする際は、1列目はそのまま残し、2列目以降に対応するデータを入れてください。<br>
            <br>
            <strong>※ 項目名は、ダウンロードしたフォーマットの項目名をそのまま使用してください。
          </p>
          <hr>
          <h6>現在登録されているデータのダウンロード</h6>
          <a href="{% url 'download_fiscal_summary_month_csv_param' 'all' %}" class="btn btn-primary">ダウンロード</a>
          <p class="mt-3">
            現在選択中の会社のデータがすべてダウンロードされます。<br>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">CSVインポート</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-left">
            <div class="col-md-6">
              <form method="post" enctype="multipart/form-data" class="mb-4">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="{{ form.csv_file.id_for_label }}" class="form-label">CSVファイルを選択</label>
                  <div class="input-group">
                    <input type="file" class="form-control" id="{{ form.csv_file.id_for_label }}" name="{{ form.csv_file.name }}" accept=".csv">
                    <button type="submit" class="btn btn-primary">アップロード</button>
                    <p></p>
                    <strong>エンコードはShift-JISでお願いします。</strong>
                  </div>
                </div>
              </form>
              <div class="alert alert-info" role="alert">
                <p>【月度について】<br>
                  CSVファイルの1列目にある月度（month）は、各期首時点の月度を表します。</p>
                  <p>例えば、3月決算の会社の場合は4月＝月度1となります。</p>
  
                <p>【複数の会社で利用している場合の注意点】<br>
                CSVファイルで会社コードを指定することはできません。現在選択中の会社のデータがインポートされます。</p>
              </div>

              {% if messages %}
              <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="col-md-6">
              <p>マネーフォワード 月次推移表からのCSVインポートを行う場合は以下をご利用ください。</p>
              <a href="{% url 'import_fiscal_summary_month_MF' %}" class="btn btn-primary">マネーフォワード 月次推移表からのCSVインポート</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="button" onclick="history.back()" class="btn btn-outline-secondary">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
