{% extends "scoreai/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
{{ block.super }}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-lg-12 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">マネーフォワード 月次推移表CSVアップロード</h5>
      </div>
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="form-row">
                <div class="form-group col-md-5 d-inline-block">
                    {{ form.fiscal_year.label_tag }}
                    {{ form.fiscal_year|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6 d-inline-block">
                    {{ form.csv_file.label_tag }}
                    {{ form.csv_file|add_class:"form-control" }}
                </div>
              </div>
              <p></p>
              <div class="form-group">
                  {{ form.override_flag.label_tag }}
                  {{ form.override_flag|add_class:"form-check-input" }}
              </div>
              <p></p>
              <button type="submit" class="btn btn-primary">アップロード</button>
              <p></p>
              <div class="alert alert-info">
                <strong>エンコーディング:</strong> UTF-8、Shift-JIS、EUC-JPを自動検出します。
              </div>
              <p></p>
          </form>

          {% if messages %}
          <div class="messages">
              {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                  {{ message|linebreaks }}
              </div>
              {% endfor %}
          </div>
          {% endif %}
      </div>
      <div class="card-footer text-end">
          <button type="button" onclick="history.back()" class="btn btn-outline-secondary">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4"></div>
  <div class="col-lg-12 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">マネーフォワードからの月次推移表のダウンロード方法</h5>
      </div>
      <div class="card-body">
        <ol>
          <li>会計帳簿＝＞推移表 に進みます。</li>
          <br>
          <li>以下の図のような形で推移表を表示します。</li>
          <br>
          <ol>
            <li>「損益計算書」を選択してください。</li>
            <li>「補助科目を表示」のチェックを外してください。</li>
            <li>「選択期間」は任意の範囲を指定してください。</li>
            <li>「消費税」は普段お使いの方を選択してください。 SCoreにはここで表示されている値がそのまま取り込まれます。</li>
            <li>右の「検索」をクリックして画面をリフレッシュしてください。</li>
          </ol>
          <br>
          <img src="{% static 'scoreai/img/MFimport_month.png' %}" class="img-fluid" alt="マネーフォワードの月次推移表" style="width: 80%;">
          <br>
          <br>
          <li>右上にあるエクスポートから、損益計算書（CSV）をクリックします。</li>
          <br>
          <img src="{% static 'scoreai/img/MFimport_month2.png' %}" class="img-fluid" alt="マネーフォワードの月次推移表のエクスポート" style="width: 20%;">
          <br>
          <br>
          <li>ダウンロードされたファイルを、CSVファイルとしてアップロードします。</li>
        </ol>
      </div>
      <div class="card-footer text-end">
          <button type="button" onclick="history.back()" class="btn btn-outline-secondary">戻る</button>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}
