{% load static %}
{% load humanize %}

<div class="row">
  <div class="col-lg-12 align-items-stretch justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">月次PL推移</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Year</th>
              <th>Data Type</th>
              {% for month in months_label %}
              <th>{{ month }}月</th>
              {% endfor %}
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {{ yearly_data }}
            {% for year_data in yearly_data %}
            <tr>
              <td rowspan="2">{{ year_data.year }}</td>
              <td>売上高</td>
              {% for sales in year_data.sales %}
              <td>{{ sales|floatformat:0 }}</td>
              {% endfor %}
              <td>{{ year_data.sales|floatformat:0 }}</td>
            </tr>
            <tr>
              <td>粗利益</td>
              {% for profit in year_data.gross_profit %}
              <td>{{ profit|floatformat:0 }}</td>
              {% endfor %}
              <td>{{ year_data.gross_profit|floatformat:0 }}</td>
            </tr>
            <tr>
              <td>営業利益</td>
              {% for profit in year_data.operating_profit %}
              <td>{{ profit|floatformat:0 }}</td>
              {% endfor %}
              <td>{{ year_data.operating_profit|floatformat:0 }}</td>
            </tr>
            <tr>
              <td>経常利益</td>
              {% for profit in year_data.ordinary_profit %}
              <td>{{ profit|floatformat:0 }}</td>
              {% endfor %}
              <td>{{ year_data.ordinary_profit|floatformat:0 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>