{% extends "scoreai/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ title }}</h5>
            </div>
            <div class="card-body">
                <p><b>販売業者名</b></p>
                <p>株式会社VanCreworth</p>
                <p><b>所在地</b></p>
                <p>〒150-0043 東京都渋谷区道玄坂1丁目10番8号渋谷道玄坂東急ビル2F-C</p>
                <p><b>販売価格</b></p>
                <p>各サービスページにて明示しております。表示価格には消費税が含まれています。</p>
                <p><b>サービス代金以外の必要料金</b></p>
                <p>通信料、振込手数料など、サービス利用に伴う費用はお客様のご負担となります。</p>
                <p><b>支払方法および支払時期</b></p>
                <p>クレジットカード、銀行振込がご利用いただけます。支払時期は、サービス提供前にご案内いたします。</p>
                <p><b>サービス提供開始時期</b></p>
                <p>入金確認後、速やかにご利用いただけます。</p>
                <p><b>返品・キャンセルについて</b></p>
                <p>本サービスはデジタルコンテンツのため、原則として返品・キャンセルはお受けできません。ただし、システム不具合等がある場合は、サポートまでご連絡ください。</p>
                
                

            </div>
            <div class="card-footer text-end">
                <a href="{% url 'index' %}" class="btn btn-secondary">Dashboardへ</a>
                <button type="button" onclick="history.back()" class="btn btn-outline-secondary">戻る</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}