{% load django_bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Score_AI | Login</title>
  <link rel="shortcut icon" type="image/png"
    href="{% static 'Modernize-1.0.0/src/assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'Modernize-1.0.0/src/assets/css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'index' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'Modernize-1.0.0/src/assets/images/logos/dark-logo.svg' %}" width="180" alt="">
                </a>
                <p class="text-center">SCore_AIにログイン</p>

                <form action="" method="POST" role="form" class="login-form">
                  {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                  </div>
                  {% endif %}
                  {% for field in form %}
                  <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <br>
                    <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">ログイン</button>
                  <input type="hidden">
                  {% csrf_token %}
                </form>

                <a class="text-primary fw-bold" href="{% url 'index' %}">パスワード再設定はこちら</a>
                <br><br>
                <a class="text-primary fw-bold" href="{% url 'index' %}">まだアカウントがない方はこちら</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'Modernize-1.0.0/src/assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'Modernize-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>