{% extends "scoreai/base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 align-items-strech">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">株主詳細</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="w-25 table-light">株主名</td>
                            <td>{{ stakeholder_name.name }}</td>
                        </tr>
                        <tr>
                            <td class="table-light">代表取締役</td>
                            <td>{% if stakeholder_name.is_representative %}はい{% else %}いいえ{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="table-light">取締役</td>
                            <td>{% if stakeholder_name.is_board_member %}はい{% else %}いいえ{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="table-light">代表者の家族</td>
                            <td>{% if stakeholder_name.is_related_person %}はい{% else %}いいえ{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="table-light">従業員</td>
                            <td>{% if stakeholder_name.is_employee %}はい{% else %}いいえ{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="table-light">備考</td>
                            <td>{{ stakeholder_name.memo|linebreaks }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-end">
                <a href="{% url 'stakeholder_name_update' stakeholder_name.pk %}" class="btn btn-primary">編集</a>
                <a href="{% url 'stakeholder_name_list' %}" class="btn btn-outline-secondary">一覧へ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
