{% extends "scoreai/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ title }}</h5>
            </div>
            <div class="card-body">
                <p><b>利用規約</b></p>
                <p>本利用規約は、お客様が当社の提供するサービスを利用する際に適用される条件を定めたものです。本規約をよくお読みいただき、同意の上でサービスをご利用ください。</p>
                <p><b>サービスの利用について</b></p>
                <p>本サービスは、お客様の財務管理をサポートすることを目的としており、個人および法人が利用可能です。ご利用には、正確な情報の登録が必要です。</p>
                <p><b>禁止事項</b></p>
                <p>以下の行為は禁止されています。虚偽の情報登録、他者の権利を侵害する行為、不正アクセス、サービスの不正利用、法令または公序良俗に反する行為。</p>
                <p><b>サービスの一時停止および変更</b></p>
                <p>当社は、メンテナンスや緊急事態等により、サービスを一時的に停止または変更することがあります。</p>
                <p><b>免責事項</b></p>
                <p>当社は、サービスの利用に関して発生するいかなる損害に対しても責任を負いません。また、サービスの中断、変更、停止により生じた損害についても同様です。</p>
                <p><b>準拠法および裁判管轄</b></p>
                <p>本規約は、日本法に準拠します。また、本規約に関する紛争は、東京地方裁判所を専属管轄とします。</p>
                <p>適用日：2024年11月11日</p>

            </div>
            <div class="card-footer text-end">
                <a href="{% url 'index' %}" class="btn btn-secondary">Dashboardへ</a>
                <button type="button" onclick="history.back()" class="btn btn-outline-secondary">戻る</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}