.bg-light-red {
  background-color: #f8d7da !important;
}

/* Index.HTMLのDebtのRowで使用 */
#debt_table tbody tr {
  cursor: pointer;
}


/* Debts_listのテーブルで使用 */
#active_debt_list tbody tr,
#rescheduled_debt_list tbody tr,
#completed_debt_list tbody tr {
  cursor: pointer;
}

div.dt-container {
  width: 100%;
  margin: 0 auto;
}

@media print {
  .page-break {
    page-break-before: always;
  }
}

/* カスタムCSSファイルやstyleタグ内 */
.text-small {
    font-size: 0.875rem; /* 約14px */
}

.text-small a {
  text-decoration: none;
}

.text-small a:hover {
  text-decoration: underline;
}

/* カスタムCSSファイルやstyleタグ内 */
.text-xsmall {
  font-size: 0.75rem; /* 約12px */
}

.text-xsmall a {
  text-decoration: none;
}

.text-xsmall a:hover {
  text-decoration: underline;
}

.text-xxsmall {
  font-size: 0.625rem; /* 約10px */
}

.text-xxsmall a {
  text-decoration: none;
}

.text-xxsmall a:hover {
  text-decoration: underline;
}